.scroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(0, -50%);
    text-align: center;
}

.scroll a p {
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.scroll a {
    text-decoration: none;
}

.scroll svg,
.scroll svg line,
.scroll a p {
    transition: all .25s ease-in-out;
}

.scroll:hover svg {
    transform: scale(1.1);
}

.scroll:hover svg line {
    stroke: var(--theme-color);
}

.scroll:hover a p {
    color: var(--theme-color)
}